body {
  font-family: 'Poppins';
  line-height: 1.6 !important;
}

.bold {
  font-weight: 700;

}

.semi-bold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.btn-primary {
  background: #5A57FF;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  font-size: 26px !important;
}

.container-fluid {
  margin: 0 auto;
  width: 96%;
}

.hero {
  background: linear-gradient(#000015, #00002D);
}


.hero-box {
  display: flex;
  justify-content: start;
  align-items: center;
}



.back::before {
  position: absolute;
  content: "";
  width: 120px;
  top: 58px;
  background: #5a57ff;
  height: 25px;
}

.hero-box::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 60%;
  max-height: 330px;
  background: linear-gradient(292deg, #5a57ffc7, transparent);
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}


.heading1 {
  font-size: 1.6rem;
  line-height: 1.4;

}



.opacity-dark {
  color: #afafaf;
}

.heading2 {
  font-size: 20px !important;
  line-height: 1.4;
}

.heading3 {
  font-size: 16px !important;
}

.row {
  --bs-gutter-x: .5rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}