body {
  font-family: 'Poppins';
  line-height: 1.6 !important;
  scroll-behavior: smooth;
}

.bold {
  font-weight: 700;

}

.semi-bold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.btn-primary {
  background: #5A57FF;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  font-size: 26px !important;
}


.navbar-custom li {
  display: none;
}


@media (min-width: 768px) {
  .navbar-custom li {
    display: block;
  }

  .navbar-custom {
    display: flex;
    justify-content: space-between;
  }

  .navbar-custom button {
    margin-left: 1rem;
  }
}

.container-fluid {
  margin: 0 auto;
  width: 96%;
}

.opacity {
  color: #ffffff57;
}

.hero {
  background: linear-gradient(#000015, #00002D);
  min-height: 100vh;
}



@media (min-width: 768px) {
  .hero .icons .first {
    transform: scale(1.1);
  }

  .hero {
    max-height: 700px;
    min-height: 200px;
    height: 100vh;
  }
}

.hero-box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
}



.back::before {
  position: absolute;
  content: "";
  width: 120px;
  top: 58px;
  background: #5a57ff;
  height: 25px;
}

.hero-box::before {
  position: absolute;
  content: "";
  width: 90%;
  max-width: 460px;
  height: 60%;
  max-height: 330px;
  background: linear-gradient(292deg, #5a57ffc7, transparent);
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}


.heading1 {
  font-size: 1.6rem;
  line-height: 1.4;

}



.opacity-dark {
  color: #afafaf;
}

.heading2 {
  font-size: 20px !important;
  line-height: 1.4;
}

.heading3 {
  font-size: 16px !important;
}

.row {
  --bs-gutter-x: .5rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  position: relative;
}

.hero .icons {

  align-items: flex-end;

}

footer .icons {
  flex-direction: column;
  padding-top: 2.5rem;
}

footer .icons div {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .icons div {
    margin-bottom: 0rem;
  }

  .icons {
    flex-direction: row;
  }
}

.shadowEffect::before {
  position: absolute;
  content: "Here's My Skills";
  color: #5a57ff26;
  font-size: 30px;
}

.skills::before {
  position: absolute;
  content: "";
  width: 230px;
  height: 200px;
  right: 0;
  transform: translate(0px, -101px);
  border-radius: 100% 6% 4% 100%;
  background: linear-gradient(329deg, #5a57ff, transparent);

}

.skills-list ul {
  margin: 0;
  padding: 0;
}

.skills-list li {
  list-style: none;
  margin-top: 1rem;
}

.skills-list li a {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 1rem;
  color: #191919;
  border: 1px solid #19191940;
  text-decoration: none;
  border-radius: 1rem;
  border-left: 5px solid #ff577f;
  transition: .1s all ease-in;
}



.skills-list li a:hover {
  border-color: #5a57ff;
  cursor: pointer;
  border-left-width: 10px;
}

.skills-list li a:focus {
  border-color: #5a57ff;
  cursor: pointer;
  border-left-width: 10px;
}

.skills-list li a:hover {
  border-color: #5a57ff;
  cursor: pointer;
}

.skills-list li i {
  font-size: 30px;
  margin-right: 1rem;
}

.skills-list li img {
  margin-right: 1rem;
}

.code {
  background: linear-gradient(45deg, #5a57ff, #7d7bff);
  border-radius: 5px;
}


.projects .card .before-card {
  display: flex;
  justify-content: flex-start;

}

.projects .card .before-card .block {
  position: absolute;
  content: "";
  filter: blur(101px);
  width: 260px;
  transform: translate(-10px, -15px);
  background: rgb(255 255 255);
  height: 50px;
}



.projects .card .before-card .text {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgb(93 90 255 / 86%);
  height: 50px;
  transform: translate(-10px, -15px);
  width: 260px;
  border-radius: 5px;
  z-index: 9999999999999999999999999999999999999999999999999;
  box-shadow: 5px 5px 10px #1919192e;
}


i:hover {
  color: #5A57FF !important;
}

.projects .card {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (min-width:768px) {
  .projects .card:last-child {
    margin-bottom: 0rem;
  }
}

.projects-animation {
  min-height: 100vh;
  height: 100%;
  position: relative;
  background: linear-gradient(#00002D, #00002D);

}

.projects {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.projects a {
  color: #191919;
}

@media (min-width: 1024px) {
  .projects {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  .projects .card {
    width: 18rem;

  }

  .project {
    flex: 0 0 calc(33.3% - 1rem);
  }
}

footer {
  background-color: #4341c5;
}

.rights {
  background-color: #00002d;
  display: flex;
  justify-content: center;

  align-items: center;
}

.rights p {
  font-size: 14px;
  padding: 1rem;
  margin: 0;
}


.rights p {
  display: flex;
}

.rights p b {
  display: flex;
  margin-left: .3rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .skills-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .skill-col {
    flex: 0 0 calc(33.3% - 1rem);
  }
}