body {
  font-family: 'Poppins';
  line-height: 1.6 !important;
  scroll-behavior: smooth;
}

:root {
  --pigeon-primary: #fc5185;
  --pigeon-dark-primary: #0a192b;
  --pigeon-light-primary: #f5ccf6;
  --pigeon-dark-gray: #597493;
  --luis-primary: #5A57FF;
}

.bold {
  font-weight: 700;

}

.semi-bold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.btn-primary {
  background: var(--luis-primary);
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  font-size: 26px !important;
}


.navbar-custom li {
  display: none;
}


@media (min-width: 768px) {
  .navbar-custom li {
    display: block;
  }

  .navbar-custom {
    display: flex;
    justify-content: space-between;
  }

  .navbar-custom button {
    margin-left: 1rem;
  }
}

.container-fluid {
  margin: 0 auto;
  width: 96%;
}

.opacity {
  color: #ffffff57;
}

.hero {
  background: linear-gradient(#000015, #00002D);
  min-height: 100vh;
}



@media (min-width: 768px) {
  .hero .icons .first {
    transform: scale(1.1);
  }

  .hero {
    max-height: 700px;
    min-height: 200px;
    height: 100vh;
  }
}

.hero-box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
}



.back::before {
  position: absolute;
  content: "";
  width: 120px;
  top: 58px;
  background: var(--luis-primary);
  height: 25px;
}

.hero-box::before {
  position: absolute;
  content: "";
  width: 90%;
  max-width: 460px;
  height: 60%;
  max-height: 330px;
  background: linear-gradient(292deg, var(--luis-primary), transparent);
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}


.heading1 {
  font-size: 1.6rem;
  line-height: 1.4;

}



.opacity-dark {
  color: #afafaf;
}

.heading2 {
  font-size: 20px !important;
  line-height: 1.4;
}

.heading3 {
  font-size: 16px !important;
}

.row {
  --bs-gutter-x: .5rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  position: relative;
}

.hero .icons {

  align-items: flex-end;

}

footer .icons {
  flex-direction: column;
  padding-top: 2.5rem;
}

footer .icons div {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .icons div {
    margin-bottom: 0rem;
  }

  .icons {
    flex-direction: row;
  }
}

.skills {
  padding: 2rem 0rem
}

.shadowEffect::before {
  position: absolute;
  content: "Here's My Skills";
  color: #59749373;
  font-size: 2.5rem;
}

.skills::before {
  position: absolute;
  content: "";
  width: 230px;
  height: 200px;
  right: 0;
  transform: translate(0px, -101px);
  border-radius: 100% 6% 4% 100%;
  background: linear-gradient(329deg, var(--luis-primary), transparent);

}

.skills-list ul {
  margin: 0;
  padding: 0;
}

.skills-list li {
  list-style: none;
  margin-top: 1rem;
}

.skills-list li a {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 1rem;
  color: var(--pigeon-dark-primary);
  border: 1px solid #19191940;
  text-decoration: none;
  border-radius: 1rem;
  border-left: 5px solid #ff577f;
  background-color: var(--pigeon-light-primary);
  transition: .1s all ease-in;
  max-width: 20rem;
}



.skills-list li a:hover {
  border-color: var(--luis-primary);
  cursor: pointer;
  border-left-width: 10px;
}

.skills-list li a:focus {
  border-color: var(--luis-primary);
  cursor: pointer;
  border-left-width: 10px;
}

.skills-list li a:hover {
  border-color: var(--luis-primary);
  cursor: pointer;
}

.skills-list li i {
  font-size: 30px;
  margin-right: 1rem;
}

.skills-list li img {
  margin-right: 1rem;
}

.code {
  background: linear-gradient(45deg, var(--luis-primary), #7d7bff);
  border-radius: 5px;
}


.projects .card .before-card {
  display: flex;
  justify-content: flex-start;

}

.projects .card .before-card .block {
  position: absolute;
  content: "";
  filter: blur(101px);
  width: 260px;
  transform: translate(-10px, -15px);
  background: rgb(255 255 255);
  height: 50px;
}



.projects .card .before-card .text {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgb(93 90 255 / 86%);
  height: 50px;
  transform: translate(-10px, -15px);
  width: 260px;
  border-radius: 5px;
  z-index: 9999999999999999999999999999999999999999999999999;
  box-shadow: 5px 5px 10px #1919192e;
}


i:hover {
  color: var(--luis-primary) !important;
}

.projects .card {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (min-width:768px) {
  .projects .card:last-child {
    margin-bottom: 0rem;
  }
}

.skills-container {
  background-color: var(--pigeon-dark-primary);
  color: var(--pigeon-light-primary);
}

.projects-animation {
  height: 100%;
  background-color: var(--pigeon-light-primary);
}

.projects-animation .text-white {
  color: var(--pigeon-dark-primary)!important;
}

.projects {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.project {
  background: linear-gradient(135deg, #0A192A, #0F2742);
  color: var(--pigeon-light-primary);
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.project .displays {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 980px) {
  .project .displays .mobile{
    display: none;
  }
}
@media (max-width: 870px) {
  .project {
      flex-direction: column;
      align-items: center;
  }
  .project .displays .desktop {
    margin-top: 2rem;
    width: 100%!important;
  }
}
.project .displays .mobile {
  width: 9rem;
}

.project .displays img {
  width: 100%;
  box-shadow: 0rem 0rem 3rem #00000029;
  border-radius: .2rem;
}

.project .pigeon-opts p i {
    color: var(--pigeon-primary);
}

.project .pigeon-opts p {
  color: var(--pigeon-light-primary);
} 

.project .pigeon-opts .pigeon-icons {
  display: flex;
  
} 

.project .pigeon-opts .pigeon-icons .icon-group {
  margin-right: 1rem;
}

.project .pigeon-opts .pigeon-icons .icon-group p {
  font-size: .9rem;
}

.project .pigeon-opts .pigeon-buttons {
  margin-top: 1rem;
}

.project .pigeon-opts .pigeon-buttons .pigeon-button {
  color: var(--pigeon-light-primary);
  text-decoration: none;
  padding: .5rem 1rem;
  background-color: var(--luis-primary);
  margin-right: 1rem;
  border-radius: .5rem;
  transition: .3s all ease;
  border: 1px solid transparent;
}

.project .pigeon-opts .pigeon-buttons .pigeon-button:hover {
    background-color: transparent;
    border: 1px solid var(--luis-primary);
} 

.project .displays .desktop {
  width: 28rem;
  margin-left: 1rem;
}


.project h1 {
  font-size: 2rem;
}

.project h1 span {
  color: var(--pigeon-primary);
}

.project p {
  color: var(--pigeon-dark-gray);
  font-size: 1.1rem;
}

.projects a {
  color: #191919;
}

@media (min-width: 1024px) {
  .projects {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  .projects .card {
    width: 18rem;

  }
}

footer {
  background-color: #4341c5;
}

.rights {
  background-color: #00002d;
  display: flex;
  justify-content: center;

  align-items: center;
}

.rights p {
  font-size: 14px;
  padding: 1rem;
  margin: 0;
}


.rights p {
  display: flex;
}

.rights p b {
  display: flex;
  margin-left: .3rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .skills-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .skill-col {
    flex: 0 0 calc(33.3% - 1rem);
  }
}